body {
    font-family: 'Noto Sans', sans-serif;
}

#qr-canvas {
    max-width: 20rem;
    width: 100%;
    height: 100%;
    /* border: dashed 2px #00D1B2; */  
}

.canvas-wrapper {
    display: flex; 
	justify-content: center; /* center horizontally */ 
	align-items: center;
    min-height: 16rem;
}

@media screen and (min-width: 769px), print {
    .file-selector-col {
        max-width: 28rem;
    }
}

pre.cert-panel {
    min-height: 30.5rem    
}

.field:not(:last-child) {
    margin-bottom: 1.5rem;
}

.text-breakable {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
  
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }